body
  font-size: 16px

#projects-list
  padding-top: 87px

#search-bar
  position: fixed
  z-index: 1

#search-bar, #back
  font-size: 30px
  width: 100%
  border: 0px
  padding: 0px 5px 5px 5px
  margin-bottom: 15px
  &:active, &:hover, &:focus
    text-decoration: none
    outline: none
  input
    border: 0px
    width: 100%
    padding-left: 50px
    border-bottom: 1px solid
    &:focus
      outline: none
  a
    position: absolute
    top: 0px
    left: 10px

.projectDoc
  word-wrap: break-word

.card
  margin-bottom: 20px

.theme-preview
  cursor: pointer

.project-message
  height: 100px
  overflow-y: auto
  word-wrap: break-word

.project-link
  text-decoration: none
  color: inherit
  &:hover
    text-decoration: none
    background-color: rgba(0,0,0,.03)
    color: inherit

.progress
  height: 3px

.card-body
  &::-webkit-scrollbar-track
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px
  &::-webkit-scrollbar
    width: 5px
    height: 5px
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px

#page, body
  &::-webkit-scrollbar-track
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px
  &::-webkit-scrollbar
    width: 12px
    height: 5px
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px

.card-footer
  border-top: none
  background-color: inherit
  padding: 0 1.25rem .35rem !important
  & .card-subtitle
    // border: 1px solid rgba(0,0,0,.125)
    padding: 5px
    border-radius: 4px
  & .footer-section-item
    padding-top: .75rem
    padding-bottom: .75rem
    &:hover
      background-color: rgba(0,0,0,.03)
      border-radius: 4px
  & a:hover
    text-decoration: none

.border-jate
  border-left: 3px solid #9f002d
.border-angular
  border-left: 3px solid #9e9e9e
.border-react
  border-left: 3px solid #00d8ff
.border-vue
  border-left: 3px solid #42b883
.border-laravel
  border-left: 3px solid #f55247
.border-symfony
  border-left: 3px solid #000
.border-general
  border-left: 3px solid #ffef62

.img-project
  width: 25px
  height: 25px

.icon-jate
  content: url('../img/logos/jate-logo.png')

.icon-symfony
  content: url('../img/logos/symfony-logo.png')

.icon-general
  background-color: #ffef62
  content: url('../img/logos/general-logo.png')

.icon-laravel
  background-color: #f55247
  content: url('../img/logos/laravel-logo.png')
