<div class="col projectDoc">
  <div class="row">
    <div class="col" id="back">
        <a href="">
          <i class="fas fa-caret-square-left"></i>
        </a>
        <h1 class="text-center">Docs</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-4 offset-md-4">
      {{data|raw}}
    </div>
  </div>
</div>
